


<form action="contacto.php" method="POST">
    </br>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="email" name="correo" placeholder="Correo" required>
    <input type="text" name="telefono" placeholder="Teléfono" required>
    <textarea name="mensaje" placeholder="Escriba aqui su mensaje" required></textarea>
    <input type="submit" value="ENVIAR CONSULTA" id="boton">


</form>


